body{
    text-align: center;
}

.todos-container{
    border: 1px solid rgb(0, 0, 0);
    width: 25rem;
    margin: auto;
  
}

.todos-container-header{
    background-color: rgb(173, 173, 173);

}
.todos-container-header span{
    background-color: rgb(173, 173, 173);
    padding: 10px;
}

.todos-container-footer{
    border-top: 0.5px solid rgb(0, 0, 0);
}

.delete-button{
    color:rgba(10, 4, 4, 0.379);
    margin-left: auto;
    margin-right: 25px;
    
}

ul{
    padding: 0;
}
li{
    border-top: 1px solid rgb(0, 0, 2);
    padding: 1rem;
    width: 100%;
}
li:last-child{
    border-top: 1px solid rgb(0, 0, 2);
    padding-bottom: 0;
    width: 100%;
}


li:hover span{
    visibility: visible;
}
input{
    border: none;
    width: 100%;

}
